/* Default stylesheet for HTML files. */ 

html, body {
    background-color: white;
    color: black;
    font-family: serif;
    font-size: 12pt; /* So HandleRelativeUnit does not explode
                        into oblivion */ 
}

a {
    color: brown;
}

pre, code {
    font-family: Terminus;
}

html, body, article, section, nav, aside, h1, h2, h3, h4, h5, h6, hgroup, header,
footer, address, p, hr, pre, blockquote, ol, ul, menu, li, dl, dt, dd, figure,
figcaption, main, div, form, fieldset, legend, details, summary {
    display: block;
}

head, title, base, style, script {
    display: none;
}

a, abbr, audio, b, bdi, bdo, br, button, canvas, cite, code, data, datalist,
del, dfn, em, embed, i, iframe, img, input, ins, kbd, label, link, map, mark,
math, meter, noscript, object, output, picture, progress, q, ruby, s, samp,
select, slot, small, span, strong, sub, sup, svg, template, textarea, time, u, 
var, video, wbr {
    display: inline;
}

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 15pt;
}

h3 {
    font-size: 12pt;
}

h4 {
    font-size: 11pt;
}

h5 {
    font-size: 9pt;
}

h6 {
    font-size: 7pt;
}

small {
    font-size: 8pt;
}

/* Tables */ 

table {
    margin-bottom: 1em;
    display: table;
}

tr {
    display: table-row;
}

tbody {
    display: table-row-group;
}

thead { /* If nth-child gets supported,
           make this selector as thead:first-child */
    display: table-header-group;
}

tfoot {
    display: table-footer-group;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

td, th {
    display: table-cell;
}

caption {
    display: table-caption;
}

/*  Other stuff */
dd {
    margin-left: 5px;
}

input {
    font-size: 16pt;
    display: -flower-input;
    width: 150px;
    height: 2em;
    margin-left: 5px;
}

button {
    display: -flower-input;
}
